<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>书籍列表</title>
</head>
<body>
<table border="1" cellpadding="0" cellspacing="0" style="text-align: center">
    <tr>
        <th colspan="3">Book Info</th>
    </tr>
    <tr>
        <th>book_id</th>
        <th>student_id</th>
        <th>appoint_time</th>
    </tr>
    <tr th:each="appointment:${appointmentList}">
        <td th:text="${appointment.bookId}"></td>
        <td th:text="${appointment.studentId}"></td>
        <td th:text="${appointment.appointTime}"></td>
    </tr>

</table>
</body>
</html>