<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!--日志输出目的地-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <!--日志输出格式-->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss,SSS} | %m (%F:%L) \n"/>
        </layout>
    </appender>

    <logger name="java.sql" additivity="false">
        <level value="debug"/>
    </logger>
    <logger name="org.apache.ibatis" additivity="false">
        <level value="info"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>